@import 'tailwindcss';

@layer utilities {
  .force-text-inherit * {
    color: inherit !important;
  }
}

/* @plugin "daisyui"; */
@plugin 'flowbite/plugin';
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  --svoast-bg: #fff;
  --svoast-text: var(--color-gray-800);

  --o-text-primary-color: var(--color-pink-500);

  --o-btn-primary-text-color: white;
  --o-btn-primary-bg-color: var(--color-pink-500);
  --o-btn-primary-bg-hover-color: var(--color-pink-400);

  --o-input-label-focus-color: var(--color-pink-500);
  --o-input-border-hover-color: var(--color-pink-500);
  --o-input-border-focus-color: var(--color-pink-300);

  --o-btn-cancel-border-hover-color: var(--color-pink-400);

  --o-dialog-header-bg-color: var(--color-pink-500);
  --o-dialog-header-btn-close-text-color: var(--color-gray-700);
  --o-dialog-header-btn-close-bg-color: var(--color-pink-100);
  --o-dialog-header-btn-close-bg-hover-color: var(--color-pink-300);

  --o-admin-menu-expanded-border-current-color: var(--color-pink-300);
  --o-admin-menu-item-bg-color: var(--colors-pink-50);

  --o-btn-filter-text-hover-color: var(--color-pink-400);

  --o-otp-ring-active-color: var(--color-pink-400);
}

.svoast-dismiss {
  cursor: pointer;
  border-radius: 4px;
}
.svoast-dismiss:hover {
  background-color: var(--color-gray-200);
}

/* ▼ Spinner */
.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.spinner_Uvk8 {
  animation: spinner_otJF 1.6s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
}
.spinner_ypeD {
  animation-delay: 0.2s;
}
.spinner_y0Rj {
  animation-delay: 0.4s;
}
@keyframes spinner_otJF {
  0% {
    transform: translate(12px, 12px) scale(0);
    opacity: 1;
  }
  75%,
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
}
/* ▲ Spinner */

/*
 * 1600 - LoaderOverlay
 * 1500 - Toasts
 * 1400 - Defector de Overlay.
*/
.svoast-container {
  z-index: 1500 !important;
}
