@import 'tailwindcss';
/* @plugin "daisyui"; */
@plugin 'flowbite/plugin';
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

.spinner_Uvk8 {
  animation: spinner_otJF 1.6s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
}
.spinner_ypeD {
  animation-delay: 0.2s;
}
.spinner_y0Rj {
  animation-delay: 0.4s;
}
@keyframes spinner_otJF {
  0% {
    transform: translate(12px, 12px) scale(0);
    opacity: 1;
  }
  75%,
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
}
